<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="xLingua_StagingEntities" connectionString="metadata=res://*/xLinguaModel.csdl|res://*/xLinguaModel.ssdl|res://*/xLinguaModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.178.29;User Id=root;password=;Persist Security Info=True;database=xLingua_Staging&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>